<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSJ2K" version="3.0.0" />
  <package id="Portable.LibJpeg.NET" version="1.5.1.1" />
  <package id="SimpleITK-win64-CSharp-x64" version="1.0.0.1" manuallyInstalled="true" />
  <package id="System.Data.SqlClient" version="4.3.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" />
  <package id="System.Security.Principal.Windows" version="4.3.0" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" />
  <package id="cscharls" version="0.1.1" />
  <package id="fo-dicom.Codecs" version="5.11.0" manuallyInstalled="true" />
  <package id="fo-dicom.Desktop" version="4.0.8" manuallyInstalled="true" />
  <package id="fo-dicom.NetCore" version="4.0.8" manuallyInstalled="true" />
  <package id="runtime.native.System.Data.SqlClient.sni" version="4.3.0" />
  <package id="runtime.win7-x64.runtime.native.System.Data.SqlClient.sni" version="4.3.0" />
  <package id="runtime.win7-x86.runtime.native.System.Data.SqlClient.sni" version="4.3.0" />
</packages>