<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.HighPerformance" version="8.2.2" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="SimpleITK-win64-CSharp-x64" version="1.0.0.1" manuallyInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.9" />
  <package id="System.Threading.Channels" version="6.0.0" />
  <package id="fo-dicom" version="5.1.2" manuallyInstalled="true" />
  <package id="fo-dicom.Codecs" version="5.11.0" manuallyInstalled="true" />
  <package id="fo-dicom.Desktop" version="4.0.8" manuallyInstalled="true" />
</packages>